$font-color: #DBE8D4;

body {
    background: radial-gradient(#393E46, #393e68);
}

// Navbar
header {
    nav {
        font-family: 'Roboto', sans-serif;
        background-color: #222831;
    }
}

// Main
.presentation {
    margin-top: 6rem;
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        color: $font-color;
        letter-spacing: 0.3rem;
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }
    hr {
        margin: 1rem auto 0 auto;
        width: 15rem;
        height: 0.25rem;
        color: $font-color;
    }
    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: $font-color;
        letter-spacing: 0.15rem;
        font-size: 1.3rem;
    }
    img {
        width: 200px;
        margin: 2.25rem 0;
        border: solid #222831 0.2rem;
    }
    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        color: $font-color;
    }
    .presentation-text {
        margin: 0 auto;
        width: 40rem;
    }
}

// Websites
.website {
    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: $font-color;
        letter-spacing: 0.15rem;
        font-size: 1.3rem;
    }
    hr {
        margin: 1rem auto 3rem auto;
        width: 10rem;
        height: 0.25rem;
        color: $font-color;
    }
    .website-btn{
        padding-top: 40%;
        padding-left: 90%;
        border-radius: 5%;
    }
    margin-bottom: 5rem;
}